.homepage{
  background-image: url("https://assets.lightspeedhq.com/img/2019/09/46833900-how-to-become-a-bartender-min.png");
  width: 100%;
  height: 80vh;
  position: relative;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}