@import "./variables";

//components
@import "./components/AboveNavBarRow";
@import "./components/servicesCard";
@import "./components/Footer";
@import "./components/Navbar";

//pages
@import "./pages/index";
@import "./pages/CoctailBar";

@import "~react-image-gallery/styles/scss/image-gallery.scss";



body{
    background-color: white;
    // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #333;
}
  
a {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  font-size: 16px;
  text-decoration: underline;
  color: #000000;
  font-weight: bold;
}
  
a:hover {
  text-decoration: underline;
}


.btn{
  font-weight: bold;
  text-decoration: none;

}
.btn-dark{
  padding: 1vh 2vh;
  background-color: $button-dark;
  color: $light-text;
  white-space: nowrap;

  &:hover{
    background-color: $button-white;
    color: $dark-text;
  }
}

.btn-light{
  padding: 1vh 2vh;
  background-color: $button-white;
  color: $dark-text;
  white-space: nowrap;

  &:hover{
    background-color: $button-dark;
    color: $light-text;
  }
}
